@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;
  --neon-yellow: #ccff00;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; /*Vou mudar dps*/
  overflow-x: hidden;
}